#form {
  display: flex;
}

input,
label {
  display: block;
}

.header {
  background: #6973ff;
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0px;
  left: 0px;
  padding: 0;
  margin: 0;
  display: flex;
}

.openlogin {
  right: 0;
  margin-top: 5px;
  margin-right: 0;
  height: 40px;
  width: 70px;
  color: lightblue;

  border-radius: 10px;
}

a.blubtn {
  height: 40px;
  width: 70px;
  text-align: center;
  font-family: arial;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  color: black;
  background-color: #fafafa;
  margin-top: 5px;
  margin-right: 3vh;
  margin-left: auto;
  transition: 0.5s;
  border-radius: 5px;
}
a.blubtn:hover {
  top: 5px;
  transition: 0.5s;
  color: #10ff58;
  border: #10ff58 1px solid;
  border-radius: 10px;
}
a.blubtn:active {
  color: #000;
  border: #1a1a1a 1px solid;
  transition: 0.07s;
  background-color: #fff;
}
input {
  outline: none;
  border: none;
  background-color: black;
  color: #0f0;
  padding: 1em 0.5em;
  display: block;
  font-size: 1.5em;
  font-family: 'Consolas', monospace;
  flex: 1;
}

label {
  display: block;
  padding: 1em 0.5em;
  font-size: 1.5em;
}

.closing-enter-active,
.closing-leave-active {
  transition: opacity 0.5s;
}
.closing-enter,
.closing-leave-to {
  opacity: 0;
}

.white {
  background: white;
}
.car {
  background: #fafafa;
  padding: 0;
  display: grid;
  top: 0;
  grid-template-rows: 15px 30px;
  grid-template-columns: 1fr 5fr 1fr;
  grid-gap: 5px;
}

.text {
  white-space: pre-line;
  word-wrap: break-word;
}

h3 {
  color: White;
  font-size: 33;
  margin: 15px;
  font-family: Arial;
}
.dialog {
  position: absolute;
  width: 80%;
  left: 20%;
  top: 50px;

  margin: 60vh 0 10vh 0;
}
.dialoglist {
  position: fixed;
  top: 50px;
  left: 0;
  width: 20%;
  background-color: #e2e2e2;
  height: 100%;
  margin: 0;
}
.answer {
  position: fixed;

  bottom: 0%;
  right: 0%;
  width: 80%;
  min-width: 80px; /*максимальная ширина может иметь другое значение*/
  background-color: white;
  height: 10%;
  vertical-align: bottom;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 60% 40%;
  grid-gap: 5px;
}
.emptyblocktop {
  height: 60vh;
}
.emptyblockbottom {
  height: 15vh;
}
@import url('https://fonts.googleapis.com/css?family=Poppins');

/* BASIC */

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

a {
  color: #92badd;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}

/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  position: relative;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}

/* FORM TYPOGRAPHY*/

input[type='button'],
input[type='submit'],
input[type='reset'] {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type='button']:hover,
input[type='submit']:hover,
input[type='reset']:hover {
  background-color: #39ace7;
}

input[type='button']:active,
input[type='submit']:active,
input[type='reset']:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type='text'] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type='text']:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type='text']:placeholder {
  color: #cccccc;
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: fixed;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: '';
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after {
  width: 100%;
}

/* OTHERS */

*:focus {
  outline: none;
}

#icon {
  width: 60%;
}

* {
  box-sizing: border-box;
}
